<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-3" [routerLink]="'/'">ConnectCERI</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/login'" [routerLinkActive]="'active'">Connexion</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-3">
    <notifier-container></notifier-container>
    <router-outlet></router-outlet>
  </div>

</body>
